@import "icons";
@import "fonts";



.top-nav {
  display: flex;
  align-items: center;

  &_hamburger-btn {
    height: 37px;
    width: 46px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: #3366cc;
    margin-right: 100px;

    & > span {
      display: block;
      position: absolute;
      height: 3px;
      width: 23px;
      background: #fff;
      opacity: 1;
      left: 12px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    & > span:nth-child(1) {
      top: 10px;
      transform-origin: left center;
    }

    & > span:nth-child(2) {
      top: 17px;
      transform-origin: left center;
    }

    & > span:nth-child(3) {
      top: 24px;
      transform-origin: left center;
    }
  }

  &_shortcuts {
    display: flex;
    list-style: none;
    font-family: "Proxima Nova Rg";
    font-size: 14px;

    &-item {
      margin-right: 35px;

      & > a {
        text-decoration: none;
        color: #010101;
      }


    }
  }
}

.header {
  .header-main {
    display: flex;
    margin-top: 20px;
    &_logo {
      display: flex;
      font-family: "Proxima Nova Rg";
      font-size: 14px;
      &>img {
        width: 127px;
        height: 95px;
      }
    }
    .header-menu {
      &_shortcuts {
        display: flex;

        &-item {

          font-size: 14px;
          margin-right: 10px;
          color: #000;
          text-decoration: none;

          &:last-child {
            margin-right: 0;
          }

          & > img {
            height: 16px;
            vertical-align: center;
          }
        }
      }

      &_menu {
        &-item {
          font-size: 24px;
          font-weight: 600;
          margin-right: 10px;
          color: #000;
          text-decoration: none;
          position: relative;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.main {
  .news {
    .news-wrapper {
      & > header {
        display: flex;

        .news-nav {
          list-style: none;
          display: flex;
          align-items: center;
          margin-bottom: 0 !important;

          & > li {
            margin-right: 10px;

            & > a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }

      & > main {
        display: flex;
        flex-wrap: wrap;

        .news-item {
          margin-right: 15px;
        }
      }
    }
  }

  .media {
    .media-wrapper {
      width: 770px;

      & > header {
        display: flex;

        .news-nav {
          list-style: none;
          display: flex;
          align-items: center;
          margin-bottom: 0 !important;

          & > li {
            margin-right: 10px;

            & > a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }

      & > main {
        display: flex;
        flex-wrap: wrap;

        .media-item {
          margin-right: 10px;
        }
      }
    }
  }

}
