@import "icons";
@import "fonts";


// enviroment

a {
  text-decoration: none;

  &:hover {

  }
}

ul {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}


.top-nav {
  display: flex;
  align-items: center;

  &_hamburger-btn {
    height: 37px;
    width: 46px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: #3366cc;
    margin-right: 100px;

    & > span {
      display: block;
      position: absolute;
      height: 3px;
      width: 23px;
      background: #fff;
      opacity: 1;
      left: 12px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    & > span:nth-child(1) {
      top: 10px;
      transform-origin: left center;
    }

    & > span:nth-child(2) {
      top: 17px;
      transform-origin: left center;
    }

    & > span:nth-child(3) {
      top: 24px;
      transform-origin: left center;
    }
  }

  &_shortcuts {
    display: flex;
    list-style: none;
    font-family: "Proxima Nova Rg";
    font-size: 14px;

    &-item {
      margin-right: 35px;

      & > a {
        text-decoration: none;
        color: #010101;

        &:hover {
          color: #0B55C4;
        }
      }
    }
  }
}

.shortcuts-nav {
  display: flex;
  justify-content: flex-end;

  & > ul {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #f1efef;
    padding-bottom: 3px;
    padding-left: 0;

    & > li {
      margin-right: 40px;

      & > a {
        text-decoration: none;
        color: #010101;
        font-family: "Proxima Nova Rg";
        font-size: 14px;

        &:hover {
          color: #0B55C4;
        }
      }
    }

    & > li:last-child {
      margin-right: 0;
    }
  }
}

.header-main {
  display: flex;
  justify-content: space-between;

  .header-main_nav {
    display: flex;

    align-items: center;

    & > ul {
      justify-content: flex-end;
      margin-bottom: 0;
      list-style: none;
      display: flex;

      & > li {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        & > a {
          color: #010101;
          font-family: "Proxima Nova Bl";
          font-size: 24px;
          text-decoration: none;

          &:hover {
            color: #0B55C4;
          }
        }

      }

    }
  }
}

.header {
  .header-main {


    &_logo {
      display: flex;
      font-family: "Proxima Nova Rg";
      font-size: 14px;

      & > img {
        width: 127px;
        height: 95px;
      }
    }
  }


}

// trash
.main-slider_wrapper {
  margin-top: 50px;

  & > img {
    width: 100%;
  }
}

// news
.news {
  padding-top: 25px;
  padding-bottom: 25px;
}

.news-wrapper {
  font-family: "Proxima Nova Rg";

  & > header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    & > h2 {
      font-weight: bold;
      font-size: 29px;
      text-transform: uppercase;
    }

    .news-nav {
      display: flex;
      list-style: none;

      & > li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        & > a {
          font-size: 18px;
          color: #010101;
          text-decoration: none;

          &:hover {
            color: #0B55C4;
          }
        }
      }
    }

    .all-news-btn {
      width: 106px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f37035;
      margin-left: auto;
      text-decoration: none;
      color: #fff;
      border-radius: 13px;
      font-size: 14px;

      &:hover {
        background-color: darken(#f37035, 10%);
      }
    }

  }

  & > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.media-wrapper {
  font-family: "Proxima Nova Rg";


  & > header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    & > h2 {
      font-weight: bold;
      font-size: 29px;
      text-transform: uppercase;
    }

    .news-nav {
      display: flex;
      list-style: none;

      & > li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        & > a {
          font-size: 18px;
          color: #010101;
          text-decoration: none;

          &:hover {
            color: #0B55C4;
          }
        }
      }
    }


  }

  & > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.links {
  padding-top: 25px;
}

.links-wrapper {
  font-family: "Proxima Nova Rg";


  & > header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    & > h2 {
      font-weight: bold;
      font-size: 29px;
      text-transform: uppercase;
    }

    .news-nav {
      display: flex;
      list-style: none;

      & > li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        & > a {
          font-size: 18px;
          color: #010101;
          text-decoration: none;

          &:hover {
            color: #0B55C4;
          }
        }
      }
    }
  }
}

.footer-logo {
  display: flex;
  justify-content: space-between;

  &__image {
    margin-right: 14px;

    & > img {
      width: 100%;
    }
  }

  &__title {
    margin-top: 18px;
    font-size: 14px;
    font-family: "Proxima Nova Rg";
    text-transform: uppercase;
    color: #b2dcf4;
  }
}

.footer-contacts {
  &__phones {
    display: flex;
    justify-content: space-between;

    & > .phones_item {
      margin-top: 40px;

      & > h5 {
        color: #fff;
        font-size: 20px;
        font-family: "Proxima Nova Bl";
        margin-bottom: 0;
      }

      & > p {
        color: #aad9f2;
        font-family: "Proxima Nova Rg";
        font-size: 14px;
      }
    }
  }

  &__address {
    font-family: "Proxima Nova Bl";
    font-size: 16px;
    color: #b2dcf4;
  }

  &__email {
    margin-top: 20px;
    font-family: "Proxima Nova Bl";
    font-size: 16px;
    color: #fff;
  }
}

.footer-extra {

  &__button {
    margin-top: 10px;
    width: 273px;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    //background-color: red;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    line-height: 20px;

    & > i {
      margin-right: 12px;
      font-size: 27px;
    }

    // temporary
    &:hover {
      color: #fff;
    }
  }

  &__button_eye {
    background-color: #3271b7;

    & > i {
      color: #b2dcf4;
    }

  }

  &__button_reception {
    border: 2px solid #fff;
  }

  &__socials {
    display: flex;
    .socials_item {
      width: 24px;
      height: 24px;
      display: block;
      color: #b2dcf4;
      text-align: center;
      vertical-align: middle;
      margin-right: 20px;
      font-size: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


footer {
  padding: 57px 0;
  background: #1c5ba2; /* Old browsers */
  background: -webkit-linear-gradient(left, #1c5ba2, #1f6bc1, #1c5ba2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c5ba2, #1f6bc1, #1c5ba2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .footer_nav {
    display: flex;

    .nav_col {
      & > ul {
        list-style: none;

        & > li {
          & > a {
            text-decoration: none;
            color: #b2dcf4;

            &:hover {
              color: #0C1D43;
            }

          }
        }

        & > .heading {
          margin-bottom: 15px;

          & > a {
            color: #fff;
            font-weight: bold;
          }

        }
      }
    }

  }
}