body{
    background-image: url('../images/snowflakes.png');
    background-size: cover;
}
body>.container-fluid{
    background: rgba(255, 255, 255, 0.8);
}
.slider-container, .footer, .navbar-default, .social-wrapper .navbar-form, .second-menu{
    position: relative;
}
.slider-container::before, .footer::before, .second-menu::before{
    position: absolute;
    content: '';
    width: 100%;
    top:-13px;
    left:0;
    height: 34px;
    background: url(../images/fires.png) repeat-x 0 0;
    z-index: 10;
}
.second-menu::before{
    top: -23px;
}
.navbar-default::before{
    position: absolute;
    content: '';
    width: 100%;
    top: -14px;
    left: 0;
    height: 20px;
    background: url(../images/snow.png) repeat-x 0 0;
    z-index: 10;
}
.social-wrapper .navbar-form::after{
    position: absolute;
    content: '';
    width: 80px;
    top: -90px;
    right: -80px;
    height: 145px;
    background: url(../images/il_fullxfull.png) repeat-x 0 0;
    z-index: 10;    
    background-size: cover;    
}