body{
	font-size:20px;
	background:white;
}
.second-menu > a.second-menu-item, .second-menu>a.link-menu-item{
	color: black;
	background: white;
}
#anti-terror > div#scienceport a span, #anti-terror > div#ncpti a span{
	color: black;
}
#anti-terror > div#scienceport, #anti-terror > div#ncpti{
	background: white;
}
.vdpt, .slider-container{
	display:none;
}
.header, .dropdown-menu, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: #444 !important;
}
.content a, .content a:hover, .content a:target{
	color:black;
	border:none;
	text-decoration:underline;
}
.contacts table tr th, .contacts table tr td, .contacts table tr td:hover{
	background:transparent;
	color:black;
	box-shadow:none;
	border:1px solid black !important;
}
a.all-news-link, a.all-news-link:hover, a.all-news-link:target{
	background:black;
	color:white;
}
.supermenu .block{
	border-radius:0;
	background: #3a3a3a !important;
}
.supermenu .block:hover{
	font-size: 1em;
	text-decoration:underline;
}
.supermenu .circle-item:hover:after{
	background:none !important;
	
}
.supermenu .block .overlay{
	display:none !important;
}
.news-item .news-img-container{
	display:none;
}
.news-block-header h3::after, .content h2::before, .information h3::after{
	background-color:#444;
}
.supermenu-block .supermenu-block-content{
	margin-left:0;
}
.supermenu-img-container{
	display:none;
}
.content h2{
	border-color:#444;
}
.line{
	border-color:white;
}
.content .news-image-cont{
	display:none;
}
.content .news-link .news-content-cont{
	line-height: 38px;
}
a.news-link{
	text-decoration:underline;
}
.description.active{
	max-height: 500px;
}
.content .item-page div[itemprop="articleBody"] img{
	display:none;
}
.important-news-block{
	display:none;
}